<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidmasterclass">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidMasterclass">
        <activity
            android:name=".activity.module4.Module4Activity"
            android:exported="false" />
        <activity
            android:name=".activity.module4.Lesson3RuntimePermissionsActivity"
            android:exported="false" />

        <activity
            android:name=".activity.module4.Lesson4UserLocationActivity"
            android:exported="false" />

        <activity
            android:name=".activity.module3.ExampleSecondActivity"
            android:exported="false" />
        <activity
            android:name=".activity.module3.Lesson1IntentsActivity"
            android:exported="false" />

        <activity
            android:name=".activity.module3.Lesson2BroadcastReceiverActivity"
            android:exported="false" />

        <activity
            android:name=".activity.module3.Lesson3ProcessesAndThreadsActivity"
            android:exported="false" />

        <activity
            android:name=".activity.module3.Lesson4ServiceAndWorkersActivity"
            android:exported="false" />

        <activity
            android:name=".activity.module3.ExampleReceiveUrlActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.module3.Module3Activity"
            android:exported="false" />

        <activity
            android:name=".activity.module6.Module6Activity"
            android:exported="false" />
        <activity
            android:name=".activity.module6.Lesson1ExampleLifecycleOwnerActivity"
            android:exported="false" />

        <activity
            android:name=".activity.module6.Lesson2ViewModelActivity"
            android:exported="false" />

        <activity
            android:name=".activity.module6.Lesson3LiveDataActivity"
            android:exported="false" />

        <activity
            android:name=".activity.module9.Lesson1RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".activity.module9.Module9Activity"
            android:exported="false" />
        <activity
            android:name=".activity.module5.Lesson4FirebaseCloudMessaging"
            android:exported="false" />
        <activity
            android:name=".activity.module5.Lesson3FirebaseStorage"
            android:exported="false" />
        <activity
            android:name=".activity.module1.Module1Activity"
            android:exported="false" />
        <activity
            android:name=".activity.module1.Lesson3ExampleActivityWithFragment"
            android:exported="false"
            android:label="@string/title_activity_example_with_fragment" />
        <activity
            android:name=".activity.module1.Lesson4ActivityWithCustomView"
            android:exported="false"
            android:label="@string/title_activity_example_with_fragment"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module1.Lesson2ExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_example"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module1.Lesson4ExampleActivityWithInfoView"
            android:exported="false"
            android:label="@string/title_activity_example_custom_view"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module2.Lesson6WebviewActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module2.SimpleWebviewDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module2.Lesson4MenuActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module2.Lesson3ImagesActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module2.ImagesActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module2.MenuActivity"
            android:exported="false"
            android:label="Menus" />
        <activity
            android:name=".activity.module2.Lesson1BottomNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module2.RecyclerViewActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module2.Lesson5RecyclerViewActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module5.Module5Activity"
            android:exported="false"
            android:label="@string/module_5_title"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module5.Lesson1FirebaseAuth"
            android:exported="false"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module5.EmailPasswordSignupActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module5.Lesson2FirebaseRealtimeDatabase"
            android:exported="false"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.module2.Module2Activity"
            android:exported="true" />
        <activity
            android:name=".activity.module2.Lesson2DialogActivity"
            android:exported="true" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".service.MyCustomService"
            android:exported="false">
        </service>

        <receiver
            android:name=".receivers.CustomBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.sample.NEW_VIDEO" />
            </intent-filter>
        </receiver>
    </application>


</manifest>