<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidmasterclass" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidMasterclass" >
        <activity
            android:name=".activity.module3.Lesson6WebviewActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module3.SimpleWebviewDemoActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module3.Lesson4MenuActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module3.Lesson3ImagesActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module3.ImagesActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module3.MenuActivity"
            android:exported="false"
            android:label="Menus" />
        <activity
            android:name=".activity.module3.Lesson1BottomNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module3.RecyclerViewActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".activity.module3.Lesson5RecyclerViewActivity"
            android:exported="false"
            android:label="@string/title_activity_simple_webview"
            android:theme="@style/Theme.AndroidMasterclass.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.module3.Module3Activity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".activity.module3.Lesson2DialogActivity"
            android:exported="true" >
        </activity>
    </application>

</manifest>